@{Layout = "";}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="~/lib/css/bsgrid.all.min.css">
    <link rel="stylesheet" href="~/lib/css/pagination.css">
    <link rel="stylesheet" href="~/css/TeacherTrainee.css">
    <script src="~/lib/js/jquery.min.js"></script>
    <script src="~/lib/js/grid.zh-CN.min.js"></script>
    <script src="~/lib/js/bsgrid.all.min.js"></script>
    <script src="~/lib/js/adapter.js"></script>
    <script src="~/lib/js/jquery.pagination.js"></script>
    <script src="~/js/TeacherTrainee.js"></script>
    <title>受講者一覧</title>
    <script>
        $(function () {
            var thisScreeWidth = $(window).width();
            if (thisScreeWidth < 1200) {
                thisScreeWidth = 1200;
            }
            var thisFontSize = 16 * (thisScreeWidth / 1366) + 'px';
            $("html").css('font-size', thisFontSize);
            $(window).resize(function () {
                var thisWidth = $(window).width();
                if (thisWidth < 1200) {
                    thisWidth = 1200;
                }
                var thisSize = 16 * (thisWidth / 1366) + 'px';
                $("html").css('font-size', thisSize);
            })
        })
    </script>
</head>

<body>
    <div class="wrapper" id="wrapper">
        <div class="navigation">
            <div class="navigationName">
                <img src="~/images/system.png">
                <span>研修管理システム</span>
            </div>
            <div class="navigationLogin">
                <div class="navigationMsg">
                    <div class="navigationUserName">木村拓哉</div>
                    <div>先生、ようこそ</div>
                </div>
                <div class="navigationBtn">ログアウト</div>
            </div>
        </div>
        <div class="tableWrapper">
            <div class="tableOperate">
                <div class="tableTitle">受講者一覧</div>
                <div class="tableTitleBtn">
                    <div class="sendText">
                        <img src="~/images/text.png">
                        <span>テキスト送付</span>
                    </div>
                    <div class="sendGuide">
                        <img src="~/images/guide.png">
                        <span>受講案内送付</span>
                    </div>
                    <div class="sendResult">
                        <img src="~/images/pass.png">
                        <span>合否送信</span>
                    </div>
                </div>
            </div>
            <table id="test" lay-filter="test">
                <tr>
                    <th colspan="10" style="text-align:left;padding:0">
                        <div class="traineeTableTitle">
                            <div class="blueBorder"></div>
                            <div class="traineeShow">受講者一覧テーブル</div>
                        </div>
                    </th>
                </tr>
                <tr>
                    <th style="background-color:#f9f9f9" w_index="nm_training">研修名</th>
                    <th style="background-color:#f9f9f9" w_index="no_employee">社員番号</th>
                    <th style="background-color:#f9f9f9" w_index="nm_user">受講者名</th>
                    <th style="background-color:#f9f9f9" w_index="nm_department">所属部門</th>
                    <th style="background-color:#f9f9f9" w_index="mail">メールアドレス</th>
                    <th style="background-color:#f9f9f9" w_render="traineeTable.guideFlgFormat">受講案内</th>
                    <th style="background-color:#f9f9f9" w_render="traineeTable.textFlgFormat">テキスト送付</th>
                    <th style="background-color:#f9f9f9" w_render="traineeTable.completionFlgFormat">研修合否</th>
                    <th style="background-color:#f9f9f9" w_render="traineeTable.passFormat">合格</th>
                    <th style="background-color:#f9f9f9" w_render="traineeTable.nopassFormat">不合格</th>
                </tr>
            </table>
            <div class="backBtn">
                <div class="backToIndex">
                    <img src="../images/return.png">
                    <span>メニューへ</span>
                </div>
            </div>
        </div>
    </div>
    <div class="popupWindow">
        <div class="popupDiv">
            <div class="popupTitle"><img class="popupClose" src="~/images/close.png"></div>
            <div class="popupMain">ログアウトしてもよろしいでしょうか</div>
            <div class="popupBtn">
                <div class="popupLogout">ログアウト</div>
                <div class="popupBack">閉じる</div>
            </div>
        </div>
    </div>
    <div class="endPopupWindow">
        <div class="endPopupDiv">
            <div class="endPopupTitle"><img class="endPopupClose" src="~/images/close.png"></div>
            <div class="endPopupMain"></div>
            <div class="endPopupBtn">
                <div class="endPopupReport">送付する</div>
                <div class="endPopupBack">閉じる</div>
            </div>
        </div>
    </div>
    <div class="resultPopupWindow">
        <div class="resultPopupDiv">
            <div class="resultPopupTitle"><img class="resultPopupClose" src="~/images/close.png"></div>
            <div class="resultPopupMain">合否情報を更新しますか</div>
            <div class="resultPopupBtn">
                <div class="resultPopupfresh">更新する</div>
                <div class="resultPopupBack">閉じる</div>
            </div>
        </div>
    </div>
    <div class="messageBox"></div>
</body>

</html>